{% extends "base.html" %}
{% block title %}User departments{% endblock %}
{% block content %}
    <header class="align-center">
        <h2>Departments</h2>
    </header>

    <div class="table-wrapper">
        <table class="alt">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                {% for department in departments %}
                    <tr>
                        <td>
                            <a href="{% url 'department_read' department.id %}">{{ department.name }}</a>
                        </td>
                        <td>{{ department.address }}</td>
                        <td>
                            {% if can_edit_department %}
                                <a href="{% url 'department_write' department.id %}" class="button small">Edit</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if can_add_department %}
        <a href="{% url 'department_add' %}" class="button default">Add department</a>
    {% endif %}
{% endblock %}