{% extends "base.html" %}
{% block title %}Department read{% endblock %}

{% block content %}
    <div class="box">
        {% if can_edit_department %}
            <h4>Department <a href="{% url 'department_write' department_id %}">(Edit)</a></h4>
        {% else %}
            <h4>Department</h4>
        {% endif %}
        <form method="POST">
        {% csrf_token %}
            {{ form.name.label_tag }}
            {{ form.name }}

            {{ form.address.label_tag }}
            {{ form.address }}
        </form>
    </div>
    <h2>Department documents:</h2>
    {% for document_version in document_versions %}
        <hr class="major" />
        <div class="box">
        <h3><label for="{{ document_version.document.name }}">Document name:</label></h3>
        {{ document_version.document.name }}
        <h3><label for="{{ document_version.document.name }}">Document description:</label></h3>
        {{ document_version.document.description }}
        {% if can_edit_document %}
             <h3><a href="{% url 'document_write' document_version.document.id %}">Edit document</a></h3>
        {% endif %}
        <h4>Versions</h4>
        <div class="table-wrapper">
            <table class="alt">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Creation date</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for version in document_version.versions %}
                        <tr>
                        <td>
                            <a href="{% url 'version_read' version.id %}">{{ version.id }}</a>
                        </td>
                        <td>{{ version.creation_date }}</td>
                        <td>
                            {% if can_edit_version %}
                                <a href="{% url 'version_write' version.id %}" class="button small">Edit</a>
                            {% endif %}
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}

{% endblock %}