{% extends "base.html" %}
{% block title %}User documents{% endblock %}
{% block content %}
    <header class="align-center">
        <h2>Documents</h2>
    </header>

    <div class="table-wrapper">
        <table class="alt">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for document in documents %}
                    <tr>
                        <td>
                            <a href="{% url 'document_read' document.id %}">{{ document.id }}</a>
                        </td>
                        <td>{{ document.name }}</td>
                        <td>
                            {% if can_edit_document %}
                                <a href="{% url 'document_write' document.id %}" class="button small">Edit</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if can_add_document %}
        <a href="{% url 'document_add' %}" class="button default">Add document</a>
    {% endif %}
{% endblock %}