{% extends "base.html" %}
{% block title %}Document log{% endblock %}
{% block content %}
    <header class="align-center">
        <h2>Document log</h2>
    </header>

    <div class="table-wrapper">
        <table class="alt">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>User id</th>
                    <th>Version id</th>
                    <th>Action</th>
                    <th>Change time</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        <td>
                            {{ log.id }}
                        </td>
                        <td>{{ log.user_id }}</td>
                        <td>
                            {{ log.version_id }}
                        </td>
                        <td>
                            {{ log.action }}
                        </td>
                        <td>
                            {{ log.change_time }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}