{% extends "base.html" %}
{% block title %}Group edit{% endblock %}
{% block content %}
    <div class="box">
        <h4>Group</h4>
        <form method="POST">
        {% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                <p></p>
            {% endfor %}
            <input type="submit" value="Save"/>
        </form>
    </div>

    <div class="box">
        <h4>Group tasks</h4>
        <div class="table-wrapper">
            <table class="alt">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>End date</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for task in group_tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.end_date }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.priority }}</td>
                    <td>
                        <a href="{% url 'task-edit' task.id %}" class="button small">Edit</a>
                        <a href="{% url 'group-remove-task' group_id task.id %}" class="button small">Remove from group</a>
                        {% if task.status.name == 'IN_PROCESS' %}
                            <a href="{% url 'task-finish' task.id %}" class="button small">Finish</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>

    <div class="box">
        <h4>Add to group</h4>
        <form method="POST" action="{% url 'group-add-task' group_id %}">
           {% csrf_token %}
           <select name="task">
               {% for task in user_tasks %}
                   <option value="{{ task.id }}">{{ task.name }}</option>
               {% endfor %}
           </select>
           <p></p>
           <input type="submit" value="Add task to group"/>
        </form>
    </div>
{% endblock %}