{% extends "base.html" %}
{% block title %}Plans{% endblock %}
{% block content %}
    <header class="align-center">
        <h2>Plans</h2>
    </header>
    <div class="table-wrapper">
        <table class="alt">
            <thead>
            <tr>
                <th>Task name</th>
                <th>Repeat count</th>
                <th>Time delta</th>
                <th>Weekdays</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for plan in plans %}
                <tr>
                    <td>{{ plan.task_name }}</td>
                    <td> {% if plan.repeat_count is not None%}
                            {{ plan.repeat_count }}
                         {% else %}
                            ---
                         {% endif %}
                    </td>
                    <td> {% if plan.repeat_time_delta is not None %}
                            {{ plan.repeat_time_delta }}
                         {% else %}
                            ---
                         {% endif %}
                    </td>
                    <td> {% if plan.repeat_days is not None %}
                            {{ plan.repeat_days }}
                         {% else %}
                            ---
                         {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'plan-edit' plan.id %}" class="button small">Edit</a>
                        <a href="{% url 'plan-remove' plan.id %}" class="button small">Remove</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{% url 'add-plan' %}" class="button default">Add plan</a>
{% endblock %}