{% extends "base.html" %}
{% block title %}New account{% endblock %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
    {% endfor %}
      </p>
    {% endfor %}
    <input type="submit" value="Sign up"/>
</form>
{% endblock %}