{% extends "base.html" %}
{% block title %}Task info{% endblock %}

{% block content %}
    <div class="box">
        <h4>Task</h4>
        <form method="POST">
        {% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
                <p></p>
            {% endfor %}
            <input type="submit" value="Save"/>
        </form>
    </div>

    <div class="box">
        <h4>Subtasks</h4>
        <div class="table-wrapper">
            <table class="alt">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>End date</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for subtask in subtasks %}
                        <tr>
                        <td>{{ subtask.name }}</td>
                        <td>{{ subtask.end_date }}</td>
                        <td>{{ subtask.status }}</td>
                        <td>{{ subtask.priority }}</td>
                        <td>
                            <a href="{% url 'task-edit' subtask.id %}" class="button small">Edit</a>
                            <a href="{% url 'task-remove-subtask' task_id subtask.id %}" class="button small">Remove subtask</a>
                            {% if subtask.status.name == 'IN_PROCESS' %}
                                <a href="{% url 'task-finish' subtask.id %}" class="button small">Finish</a>
                            {% endif %}
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr class="major" />
        <form method="POST" action="{% url 'task-add-subtask' task_id %}">
           {% csrf_token %}
           <select name="task">
               {% for task in tasks %}
                   <option value="{{ task.id }}">{{ task.name }}</option>
               {% endfor %}
           </select>
           <p></p>
           <input type="submit" value="Add subtask"/>
        </form>
    </div>

    <div class="box">
        <h4>Users actions</h4>
        <div class="table-wrapper">
            <table class="alt">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Action</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user_action in users_actions %}
                    <tr>
                        <td>{{ user_action.user_login }}</td>
                        <td>{{ user_action.action_type }}</td>
                        <td>
                            {% if user_action.user_login != user_login %}
                                <a href="{% url 'remove-permission' task_id user_action.user_login %}" class="button small">Remove</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr class="major">
        <form method="POST" action="{% url 'add-permission' task_id %}">
        {% csrf_token %}
            <label for="allow_user_login">Add action to:</label>
            <input type="text" name="allow_user_login" id="allow_user_login">
            <p></p>
            <select name="action_type">
               {% for action in action_types %}
                   <option value="{{ action.value }}">{{ action }}</option>
               {% endfor %}
            </select>
            <p></p>
            <input type="submit" value="Add action"/>
        </form>
    </div>
{% endblock %}