{% extends "base.html" %}
{% block title %}Version read{% endblock %}

{% block content %}
    <div class="box">
        {% if can_edit_version %}
            <h4>Version <a href="{% url 'version_write' version_id %}">(Edit)</a>
        {% if has_file %}
        <button onclick="window.location='{% url 'version_download' version_id %}'">Download</button>
        {% endif %}</h4>
        {% else %}
            <h4>Version
        {% if has_file %}
        <button onclick="window.location='{% url 'version_download' version_id %}'">Download</button>
        {% endif %}</h4>
        {% endif %}
        <form method="POST">
        {% csrf_token %}
            {{ form.level_access.label_tag }}
            {{ form.level_access }}

            {{ form.creation_date.label_tag }}
            {{ form.creation_date }}

            {{ form.department_name.label_tag }}
            <a href="{% url 'department_read' form.department_id.value %}">{{ form.department_name.value|default_if_none:"" }}</a>

            {{ form.document_name.label_tag }}
            <a href="{% url 'document_read' form.document_id.value %}">{{ form.document_name.value|default_if_none:"" }}</a>
        </form>
    </div>

    <div class="box">
        <h4>Authors</h4>
        <div class="table-wrapper">
            <table class="alt">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Birthdate</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for author in authors %}
                        <tr>
                        <td>
                            <a href="{% url 'author_read' author.id %}">{{ author.name }}</a>
                        </td>
                        <td>{{ author.birthdate }}</td>
                        <td>
                            {% if can_edit_author %}
                                <a href="{% url 'author_write' author.id %}" class="button small">Edit</a>
                            {% endif %}
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}